body{
	background-color: lightgrey;
}
h1{
	font-size: 30px;
	color: pink;
}
h2{
	color: red;
	style="font-size: 20px;"
}
.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

h2{
	color: green;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}	